/* Réinitialiser tous les éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Forcer le fond noir pour tout l'écran */
html, body, #root {
  background-color: black;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Empêcher le conteneur principal de générer une marge */
#root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
